ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }


  
nav ul li{

  display: inline-block;  
}


@media screen and (max-width: 992px) {
    nav ul li {
      display: block;
    }
  }
  